boto3
rank_bm25
langchain_experimental
langchain-google-genai
langchain-community
langchain
chromadb
streamlit
python-dotenv
sentence-transformers
# Keeping original requirements just in case
PyPDF2
pymupdf
faiss-cpu
langchain-groq
typesense
